---
layout: base.njk
---

<article>
  <h1>{{ post.title }}</h1>
  <p>
    Published:
    <time datetime="{{ post.published }}">{{ post.published | date("yyyy-MM-dd") }}</time>
    {% if post.updated %}
    · Updated:
    <time datetime="{{ post.updated }}">{{ post.updated | date("yyyy-MM-dd") }}</time>
    {% endif %}
  </p>
  {{ post.content | safe }}
</article>
