---
layout: base.njk
---

<article>
  <h1>{{ title }}</h1>
  <p>
    Published:
    <time datetime="{{ published }}">{{ published | date("yyyy-MM-dd") }}</time>
    {% if updated %}
    · Updated:
    <time datetime="{{ updated }}">{{ updated | date("yyyy-MM-dd") }}</time>
    {% endif %}
  </p>
  {{ content | safe }}
</article>
