---
layout: base.njk
title: "Ameopoema"
---

<article>
  <h1>{{ post.title }}
    <time datetime="{{ post.published }}">{{ post.published | date("dd/MM/yyyy") }}</time>
  </h1>
  <p></p>
  {{ post.content | safe }}
</article>