<li class="post-card">
  <a href="{{ post.permalink | url }}">

    {% if cover %}
      <div class="post-cover">
        <img src="{{ cover | url}}" alt="">
      </div>
    {% endif %}

    <div class="post-meta">
      <h2>{{ post.title }}</h2>

      {% if post.published %}
        <time datetime="{{ post.published }}">
          {{ post.published | date("yyyy-MM-dd") }}
        </time>
      {% endif %}
    </div>

  </a>
</li>
