---
layout: base.njk
title: Livros
---

<h1>Livros</h1>

<ul class="post-list">
  {% for book in books %}
    <li class="post-card">
      <a href="{{ book.href | url }}">
        <div class="post-meta">
          <h2>{{ book.title }}</h2>
          <time>{{ book.subtitle }}</time>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
