---
layout: base.njk
title: Livros
---

<h1>Livros</h1>

<ul class="post-list">
  <li class="post-card">
    <a href="{{ '/print/575-haicais/' | url }}">
      <div class="post-meta">
        <h2>575 Haicais</h2>
        <time>Prévia imprimível</time>
      </div>
    </a>
  </li>
    <li class="post-card">
    <a href="{{ '/print/livro-em-breve/' | url }}">
      <div class="post-meta">
        <h2>Versos Roubados</h2>
        <time>Em Breve</time>
      </div>
    </a>
  </li>
    <li class="post-card">
    <a href="{{ '/print/livro-em-breve/' | url }}">
      <div class="post-meta">
        <h2>Palíndromia</h2>
        <time>Em Breve</time>
      </div>
    </a>
  </li>
    <li class="post-card">
    <a href="{{ '/print/livro-em-breve/' | url }}">
      <div class="post-meta">
        <h2>Wonder City: Contos cyberpunk</h2>
        <time>Em Breve</time>
      </div>
    </a>
  </li>
</ul>
