---
pagination:
  data: collections.editorialPages
  size: 1
  alias: editorial
permalink: "/{{ editorial.slug }}/"
layout: base.njk
---

<h1>{{ editorial.title }}</h1>

{% set posts = blogger %}
{% set keywords = editorial.keywords %}
{% include "partials/post-list.njk" %}
